body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.top-bar {
    background-color: #ffffff;
    color: #2B4B1E;
    padding-left:30px;
    text-align: left; /* Align text to the left */
    position: absolute;
    top: 0;
    left: 245px;
    width: 100%; /* Set top bar to full width */
}


.left-bar {
    background-color: #ffffff;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
}

.left-bar ul {
    list-style-type: none;
    padding: 0;
}

.left-bar ul li {
    margin-bottom: 10px;
}

.left-bar ul li a {
    color: #92956F;
    text-decoration: none;
    border-radius: 30px;
    padding: 6px 12px;
}

#logo1 { /* logo style setup */
    height: auto;
    width: 200px;
}

.content {
    margin-left: 220px; /* Width of left bar + some margin */
    padding: 20px;
}

.left-bar ul li a:hover, /* button hover effects */
.left-bar ul li a.active
{
    background: #a8a8a8;
    color: #ffffff;
}